{% extends "base.html" %}
{% load static %}

{% block title %} Cart detail {% endblock %}

{% block body %}

<br><br>
<div class="container">
  <div class="row">
    <div class="col">
      <h1>Корзина</h1>
    </div>
    <div class="col">
    </div>
    <div class="col">
    </div>
  </div>
</div>
<br>
<div class="container">
      <div class="row col-lg-12">
        <div class="box-element">
          <a class="btn btn-outline-dark" href="{% url 'store:store' %}">&#x2190; Продолжить покупки</a>

        <br><br>
        <table class="table">
            <tr>
                <th><h5>
                    {% with total_items=cart|length %}
                        {% if cart|length > 0 %}
                        Items:
                            {{ total_items }}
                        {% else %}
                            Your cart is empty.
                        {% endif %}
                    {% endwith %}
                </h5></th>
                <th><a style="float:right; margin:5px" class="btn btn-success" href="{% url 'orders:order_create' %}">Оформить заказ</a></th>
            </tr>
        </table>
        </div>

        <br><br>

        <div class="box-element">
          <div class="cart-row">
              <div style="flex:1"><strong>Изображение</strong></div>
              <div style="flex:2"><strong>Наименование</strong></div>
              <div style="flex:1"><strong>Количество</strong></div>
              <div style="flex:1"><strong>Удалить</strong></div>
              <div style="flex:1"><strong>Цена</strong></div>
              <div style="flex:1"><strong>Сумма</strong></div>
          </div>


          {% for item in cart %}
            {% with product=item.product %}
<!--              <div class="cart-row">-->
              <div class="row gy-5">
                  <div style="flex:1"><img class="row-image" src="/images/{{ item.product.image }}"></div>
                  <div style="flex:2">{{ product.name }}</div>
                  <div style="flex:1">
                      <form method="POST" action="{% url 'cart:cart_add' product.id %}">
							{% csrf_token %}
							{{ item.update_quantity_form.quantity }}
                            {{ item.update_quantity_form.update }}
							<input type="submit" class="change" value="Изменить">
<!--                          <button class="change" type="submit">Изменить</button>-->
						</form>
                  </div>
                  <div style="flex:1"><a class="btn btn-outline-danger " href="{% url 'cart:cart_remove' product.id%}">Удалить</a></div>
                  <div style="flex:1">${{ item.price|floatformat:2 }}</div>
                  <div style="flex:1">${{ item.total_price|floatformat:2 }}</div>
                  <hr>
              </div>
            {% endwith %}
          {% endfor %}



          <div class="total">
              <br>
              <th><h5>Итого: ${{ cart.get_total_price }}</h5></th>
              <br>
          </div>

        </div>
      </div>
    </div>

{% endblock body %}