{% extends "base.html" %}
{% load static %}

{% block title %} Product {% endblock %}

<!-- Подключили CSS из папки static -->
<!--<link href="{% static 'css/main.css' %}" rel="stylesheet">-->

{% block body %}

	<div class="container">
        <div class="row justify-content-md-center">
            <div class ="row col-lg-12">
					<div class="col-lg-4">
						<div class="align-self-stretch">
						<img class="thumbnail" src="/images/{{ product.image }}">
						</div>
						</div>
<!--				---------------------------------------------------------------------->
					<div style="padding:50px" class="col-5">
						<div class="col">
						  <div class="align-self-stretch"><h4>{{product.name}}</h4></div>
						</div>
						<hr>
						<div class="col">
						  <div class="p-1"><h4>${{product.price}}</h4></div>
						</div>
						<div class="col">
							<!-- --- ВСТАВКА ФОРМЫ --- -->
							<form method="POST" action="{% url 'cart:cart_add' product.id %}">
								<div class="d-grid gap-2 d-md-flex justify-content-md-start">
								{% csrf_token %}
								<table>{{ cart_product_form }}</table>
								<input type="submit" class="btn btn-dark" value="В корзину">
								</div>
							</form>
						</div>


						</div>
<!--				---------------------------------------------------------------------->
				</div>
			</div>
		</div>

{% endblock body %}