{% extends "base.html" %}
{% load static %}

{% block title %} Store {% endblock %}

<!-- Подключили CSS из папки static -->
<!--<link href="{% static 'css/main.css' %}" rel="stylesheet">-->

{% block body %}

<br>

    <div class="container">
        <div class="row">
            <div class="col-lg-3 justify-content-start">
                    <!-- --- ВСТАВКА ФОРМЫ --- -->
                    <form method="post" action="{% url 'store:store' %}">
                        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <!-- ЗАЩИТА ФОРМЫ    --> {% csrf_token %}
                    <!-- ПОЛЯ ВВОДА      --> <table>{{ form }}</table>
                    <!-- КНОПКА ОТПРАВКИ --> <input type="submit" class="btn btn-outline-dark" value="Выбрать">
                        </div>
                    </form>
                </div>


            <div class="col-lg-9 justify-content-end">
            <div class="row row-cols-2 row-cols-lg-4 g-lg-3">
                {% for product in page_obj %}
                    <div class="col-sm-3">
                        <div class="align-self-stretch" >
                        <a href="{% url 'store:product_detail' product.id %}"><img class="thumbnail" src="/images/{{ product.image }}"></a>
                            <div class = "box-element product">
                                <div class="col" style="height: 50px;">
                                <h6><strong>{{ product.name }}</strong></h6>
                                </div>
                                <hr>
                                <div class="row d-flex align-items-center">
                                <div class="col-12 d-flex justify-content-end">
                                <h4>${{ product.price|floatformat:2 }}</h4>
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                </div>
            <br>

                <nav aria-label="label">
                  <ul class="pagination pagination-sm justify-content-center">
                      {% if page_obj.has_previous %}
                    <li class="page-item">
                      <a class="page-link text-dark" href="{{ request.path }}?page={{ page_obj.previous_page_number }}">Предыдущая</a>
                    </li>
                      {% endif %}
                    <li class="page-item"><a class="page-link text-dark" href="#">{{ page_obj.number }}</a></li>
                      {% if page_obj.has_next %}
                    <li class="page-item">
                      <a class="page-link text-dark" href="{{ request.path }}?page={{ page_obj.next_page_number }}">Следующая</a>
                    </li>
                      {% endif %}
                  </ul>
                </nav>
            </div>
        </div>
    </div>
<br>

{% endblock body %}