<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Base</title>

    <!-- Адаптивный дизайн (расширение-сужение от размера устройства) -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Подключение Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js" integrity="sha384-zYPOMqeu1DAVkHiLqWBUTcbYfZ8osu1Nd6Z89ify25QV9guujx43ITvfi12/QExE" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css">

    <!-- Подключили CSS из папки static -->
    <link href="{% static 'css/main.css' %}" rel="stylesheet">

    </head>

<body>

<header>
    <nav class="navbar navbar-expand-lg bg-light">
      <div class="container-fluid">
        <a class="navbar-brand fw-bold fs-3" href="{% url 'store:store' %}">MY STORE</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
<!--            <li class="nav-item">-->
<!--              <a class="nav-link" href="#">About</a>-->
<!--            </li>-->
            <li class="nav-item">
            <li class="nav-item">
              <div class="form-inline position-absolute top-50 end-0 translate-middle ">
              <a href="{% url 'cart:cart_detail' %}"><i class="bi bi-bag text-dark" style="font-size: 1.5rem;"></i></a>
              {% with total_items=cart|length %}
                {% if cart|length > 0 %}
<!--                 Your cart:-->
                    <a class="btn btn-outline-white border-0" href="{% url 'cart:cart_detail' %}">
                    В корзине: {{ total_items }} ед.
                    ${{ cart.get_total_price }}
              </a>
                {% else %}
                    Ваша корзина пуста.
                {% endif %}
              {% endwith %}
            </div>
            </li>
          </ul>
    </div>
  </div>
</nav>
</header>

{% block body %} {% endblock %}


<!--<nav class="navbar bottom bg-body-tertiary">-->
<!--  <div class="container-fluid">-->
<!--      <div class="col"></div>-->
<!--            <div class="col"></div>-->
<!--            <div class="col">-->
<!--                <h5>My Store</h5>-->
<!--                <ul class="nav flex-column">-->
<!--                    <li class="nav-item mb-2"><a href="{% url 'store:about' %}" class="nav-link p-0 text-muted">О компании</a></li>-->
<!--                </ul>-->
<!--            </div>-->
<!--            <div class="col">-->
<!--                <h5></h5>-->
<!--                <ul class="nav flex-column">-->
<!--                </ul>-->
<!--            </div>-->
<!--            <div class="col">-->
<!--                <h6>© 2023</h6>-->
<!--                <ul class="nav flex-column">-->
<!--                </ul>-->
<!--            </div>-->
<!--  </div>-->
<!--</nav>-->

        <div class="container">
<!--            <footer class="mt-auto py-2 bg-light">-->
                <footer class="row row-cols-5 py-5 my-5 border-top">
                    <div class="col"></div>
                    <div class="col"></div>
                    <div class="col">
                        <h5>My Store</h5>
                        <ul class="nav flex-column">
                            <li class="nav-item mb-2"><a href="{% url 'store:about' %}" class="nav-link p-0 text-muted">About</a></li>
                        </ul>
                    </div>
                    <div class="col">
                        <h5></h5>
                        <ul class="nav flex-column">
                        </ul>
                    </div>
                    <div class="col">
                        <h6>© 2023</h6>
                        <ul class="nav flex-column">
                        </ul>
                    </div>
            </footer>
            </div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>


    </body>
</html>