{% extends "base.html" %}
{% load static %}

{% block title %} Thank you! {% endblock %}

{% block body %}

<div class="container">
    <br><br>
    <div class="row justify-content-center">
        <br>
        <br><br>
        <h1>Спасибо!</h1>
        <p>Ваш заказ был успешно оформлен. Ваш номер заказа <strong> {{ order.id }} </strong>.</p>
        <br>
        <div class="row col-lg-12">
            <div class="col-4">
                <a class="btn btn-outline-dark " href="{% url 'store:store' %}">&#x2190; Продолжить покупки</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}